services:
  db:
    container_name: vms-db
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      TZ: Europe/Kyiv
      PGTZ: Europe/Kyiv
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - internal
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 20s

  backend:
    container_name: vms-backend
    build: ./backend
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000
    env_file: .env
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal
      - proxy_net

  telegram-bot:
    build: ./telegram-bot
    command: python src/main.py
    env_file: .env
    environment:
      - PYTHONPATH=/app
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - backend
    networks:
      - internal

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: vms-frontend
    env_file:
      - .env
    depends_on:
      - backend
    networks:
      - internal
      - proxy_net

volumes:
  postgres_data:

networks:
  internal:
    driver: bridge

  proxy_net:
    external: true
